<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".internal.ui.MonitorActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.monitor"
            android:theme="@style/Theme.Monitor" />
        <activity
            android:name=".internal.ui.MonitorDetailsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.monitor"
            android:theme="@style/Theme.Monitor" />

        <provider
            android:name=".internal.MonitorFileProvider"
            android:authorities="${applicationId}.monitorFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/monitor_file_provider_paths" />
        </provider>

    </application>

</manifest>